<body class="bg-gradient-to-tr from-yellow-400 to-purple-400 relative">
      <div class="w-full mb-10 lg:w-1/2 lg:max-w-lg md:w-1/2">
        <img class="object-cover object-center rounded-xl" alt="hero" loading="lazy"
          src="/imgs/spa-20785.jpg">
      </div>

<div class="index_admin">
   <h1><%=t "idex.hello"%></h1>
  <h2>
    <%=t "idex.hi"%>
  </h2>
</div>

</body>
