<% provide(:title, @title) %>
<h1 class="title_product">
  <%= t "admin_product.title" %>
</h1>
<div class="container-index">
  <%= render "product" %>
</div>
<div class="clear mt-4">
  <%= paginate @products %>
</div>
