.style-language{
  float: left;
  width: 120px;
}

.card-inside{
  width: 270px;
  border-radius: 10px;
  margin: 20px 20px 20px 0px;
}

.card-margin{
  margin-left: 10px;
  color: blue;
  font-size: 15px;
}

.card-p{
  color: black;
  font-size: 15px;

}

.clear{
  clear: right;
}

.title_product{
  color: red;
  font-family: "Times New Roman", Times, serif;
  text-align: center;
}

.font-table{
  font-size: 20px;
  color: black;
}

.h1-show{
  color: blue;
  font-family: "Times New Roman", Times, serif;
  text-align: center;
  margin-bottom: 50px;
  font-size: 50px;
}

.card-link{
  color: blue;
  font-size: 17px;
}

.laber{
  with: 100px;
  color: red;
}

.image{
  with: 50px;
}

.lable-form{
  font-size: 20px;
  margin-bottom: 10px;
  color: black;
  margin-left: 20px;
}

.image_show{
  with: 100px;
}

.container-index{
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  gap: 20px;
  padding: 10px 0 20px 0;
}

.erorr_message{
  font-size: 17px;
  color: red;
}

.submit-form-index{
  margin-top: 20px;
}

.index_admin{
  color: blue;
  font-family: cursive;
  text-align: center;
  margin-top: 30px;
  font-style: italic;
}

.content{
  min-height: auto;
}

.lable{
  font-size: 17px;
}
